<div class="toolbar">
  <p-toolbar>
    <div class="ui-toolbar-group-left">
      <button pButton type="button" label="New" icon="pi pi-plus" class="space-right"></button>
      <button pButton type="button" label="Upload" icon="pi pi-upload" class="ui-button-success space-right"></button>

      <i class="ui-toolbar-separator pi pi-bars" style="vertical-align: middle"></i>

    </div>

    <div class="ui-toolbar-group-right inline">
      <div class="ui-inputgroup space-left">
        <input type="text" pInputText placeholder="Pesquise">
        <button pButton type="button" icon="pi pi-search"></button>
      </div>
      <button pButton type="button" icon="fa fa-adjust" class="ui-button space-right"></button>
      <button pButton type="button" icon="fa fa-minus" class="ui-button space-right"></button>
      <button pButton type="button" icon="fa fa-font" class="ui-button space-right"></button>
      <button pButton type="button" icon="fa fa-plus" class="ui-button space-right"></button>
    </div>
  </p-toolbar>
</div>
