<p-toast [style]="{marginTop: '80px'}"></p-toast>
<nav class="navbar" appAltoContraste [flagAltoContraste]="flagAltoContraste">
  <div class="ui-g" style="width: 100%;">
    <div class="ui-g-6">
      <div class="ui-g ui-fluid">
        <div class="ui-g-3">
          <h3 class="title" style="cursor: pointer;white-space: normal;" (click)="onReturnHome()"
            [ngStyle]="{'font-size': fonteTitulo+'%'}" tabindex="1">MovieViewer</h3>
        </div>
      </div>
    </div>
    <div class="ui-g-6">
      <div class="btn-toolbar">
        <div class="ui-g ui-fluid">
          <div class="ui-g-7">
            <div class="input-group">
              <input appAltoContraste [flagAltoContraste]="flagAltoContraste" type="text" class="form-control"
                placeholder="Pesquise filmes por título" [(ngModel)]="text" [ngStyle]="{'font-size': fonte+'%'}"
                tabindex="2">
              <div class="input-group-prepend">
                <button type="button" appAltoContraste [flagAltoContraste]="flagAltoContraste" class="btn btn-light"
                  (click)="onSearchMovies()" [ngStyle]="{'font-size': fonte+'%'}" aria-label="Ativar alto contraste"
                  tabindex="3"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
          <div class="ui-g-2"></div>
          <div class="btn-group ui-g-3 ui-fluid" role="group">
            <button type="button" appAltoContraste [flagAltoContraste]="flagAltoContraste" class="btn btn-light"
              (click)="onAltoContraste()" [ngStyle]="{'font-size': fonte+'%'}" aria-label="Ativar alto contraste"
              tabindex="4"><i class="fa fa-adjust"></i></button>
            <button type="button" appAltoContraste [flagAltoContraste]="flagAltoContraste" class="btn btn-light"
              (click)="onDiminuirFonte()" [ngStyle]="{'font-size': fonte+'%'}" aria-label="Diminuir fonte"
              tabindex="5"><i class="fa fa-minus"></i></button>
            <button type="button" appAltoContraste [flagAltoContraste]="flagAltoContraste" class="btn btn-light"
              (click)="onNormalizarFonte()" [ngStyle]="{'font-size': fonte+'%'}" tabindex="6"><i class="fa fa-font"
                aria-label="Normalizar fonte"></i></button>
            <button type="button" appAltoContraste [flagAltoContraste]="flagAltoContraste" class="btn btn-light"
              (click)="onAumentarFonte()" [ngStyle]="{'font-size': fonte+'%'}" aria-label="Aumentar fonte"
              tabindex="7"><i class="fa fa-plus"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
