.navbar {
  background-color: #666666;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
}

.navbar-toggle {
  color: #e5e5e5;
  position: relative;
  top: 15%;
  transform: translateY(-50%);
}

.title {
  color: #e5e5e5;
  font-weight: bold;
}
