<ng-template #content let-modal>
  <div class="modal-header" appAltoContraste [flagAltoContraste]="flagAltoContraste">
    <h4 class="modal-title" id="modal-basic-title" appAltoContraste [flagAltoContraste]="flagAltoContraste"
      [ngStyle]="{'font-size': fonteTitulo+'%'}">
      {{movie.title}} ({{movie.release_date | date: 'yyyy'}})</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" appAltoContraste
      [flagAltoContraste]="flagAltoContraste">
      <span aria-hidden="true" appAltoContraste [flagAltoContraste]="flagAltoContraste">&times;</span>
    </button>
  </div>
  <div class="modal-body" appAltoContraste [flagAltoContraste]="flagAltoContraste">
    <div style="width: 18rem; float: left;" *ngIf="movie.poster_path !== null">
      <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="card-img-top"
        alt="Capa do filme {{movie.title}}">
    </div>
    <div style="width: 47rem; height: 28.5rem; float: right;" appAltoContraste [flagAltoContraste]="flagAltoContraste">
      <p-fieldset appAltoContraste [flagAltoContraste]="flagAltoContraste">
        <p-header [ngStyle]="{'font-size': fonte+'%'}" appAltoContraste [flagAltoContraste]="flagAltoContraste">
          Descrição</p-header>
        <p-scrollPanel [style]="{width: '100%', height: '13rem'}" styleClass="custom" appAltoContraste
          [flagAltoContraste]="flagAltoContraste">
          <div class="text" style="padding:1em;line-height:1.5;text-align: justify;"
            [ngStyle]="{'font-size': fonte+'%'}" appAltoContraste [flagAltoContraste]="flagAltoContraste">
            {{movie.overview}}
          </div>
        </p-scrollPanel>
      </p-fieldset>
      <div class="ui-g">
        <div class="ui-g-4">
          <p-fieldset [style]="{height: '9rem'}" appAltoContraste [flagAltoContraste]="flagAltoContraste">
            <p-header [ngStyle]="{'font-size': fonte+'%'}" appAltoContraste [flagAltoContraste]="flagAltoContraste">
              Alcance</p-header>
            <h5 class="first text-title center" [ngStyle]="{'font-size': fonteTitulo+'%'}" appAltoContraste
              [flagAltoContraste]="flagAltoContraste">{{movie.popularity}}</h5>
          </p-fieldset>
        </div>
        <div class="ui-g-4">
          <p-fieldset [style]="{height: '9rem'}" appAltoContraste [flagAltoContraste]="flagAltoContraste">
            <p-header [ngStyle]="{'font-size': fonte+'%'}" appAltoContraste [flagAltoContraste]="flagAltoContraste">
              Votos</p-header>
            <h5 class="first text-title center" [ngStyle]="{'font-size': fonteTitulo+'%'}" appAltoContraste
              [flagAltoContraste]="flagAltoContraste">{{movie.vote_count}}</h5>
          </p-fieldset>
        </div>
        <div class="ui-g-4">
          <p-fieldset [style]="{height: '9rem'}">
            <p-header [ngStyle]="{'font-size': fonte+'%'}" appAltoContraste [flagAltoContraste]="flagAltoContraste">Nota
            </p-header>
            <div class="center nota">
              <label class="text-title" [ngStyle]="{'font-size': fonteTitulo+'%'}" appAltoContraste
                [flagAltoContraste]="flagAltoContraste">{{movie.vote_average}}</label><br>
              <ngb-rating [ngStyle]="{'font-size': fonteTitulo+'%'}" [rate]="movie.vote_average/2" [max]="5"
                [readonly]="true" appAltoContraste [flagAltoContraste]="flagAltoContraste"></ngb-rating>
            </div>
          </p-fieldset>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<div *ngIf="flagShowComponent === true">
  <div *ngFor="let dataObject of data">
    <div class="content">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 d-flex justify-content-center">
          <div class="ui-g-11" appAltoContraste [flagAltoContraste]="flagAltoContraste">
            <div class="panel-header text-title" appAltoContraste [flagAltoContraste]="flagAltoContraste">
              <span [ngStyle]="{'font-size': fonteTitulo+'%'}" appAltoContraste
                [flagAltoContraste]="flagAltoContraste">{{dataObject.name}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 d-flex justify-content-center">
          <button mat-icon-button class="ui-g-1 button" (click)="onMoveLeft(dataObject)" appAltoContraste
            [flagAltoContraste]="flagAltoContraste" tabindex="11">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <div class="panel-body ui-g-10">
            <div *ngIf="flagMoviesByGenre == true">
              <drag-scroll style="width: 100%" [drag-scroll-disabled]="true" #nav>
                <div *ngFor="let movie of dataObject.movies" class="inline">
                  <div *ngIf="movie.poster_path !== null" class="inline">
                    <button class="card" style="width: 18rem; height: 100%;" drag-scroll-item data-toggle="modal"
                      (click)="onFindMovieByID(movie.id, content)" appAltoContraste
                      [flagAltoContraste]="flagAltoContraste" tabindex="11">
                      <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="card-img-top"
                        alt="Capa do filme {{movie.title}} - clique para ver detalhes">
                      <div class="card-footer">
                        <h5 class="card-title" [ngStyle]="{'font-size': fonte+'%'}"
                          style="text-align: center; font-weight: bold;white-space: normal">{{movie.title}}</h5>
                      </div>
                    </button>
                  </div>
                </div>
              </drag-scroll>
            </div>
            <div *ngIf="flagMoviesByGenre == false" class="spinner">
              <p-progressSpinner [style]="{width: '100px', height: '100px'}" strokeWidth="8" fill="#EEEEEE"
                animationDuration=".5s"></p-progressSpinner>
            </div>
          </div>
          <button mat-icon-button class="ui-g-1 button" (click)="onMoveRight(dataObject)" appAltoContraste
            [flagAltoContraste]="flagAltoContraste" tabindex="11">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
