<div class="content">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 d-flex justify-content-center">
      <button mat-icon-button class="ui-g-1 button" (click)="onMoveLeft()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <p-panel [style]="{'margin-bottom':'20px'}" class="ui-g-10">
        <p-header>
          <div class="ui-helper-clearfix">
            <span class="ui-panel-title text-title" style="display:inline-block;margin-top:4px">Populares</span>
            <button mat-icon-button style="float: right;" (click)="onFindAll()">
              <mat-icon>autorenew</mat-icon>
            </button>
          </div>
        </p-header>
        <div *ngIf="flagPopularMovies == true">
          <drag-scroll style="width: 100%" [drag-scroll-disabled]="true" #nav>
            <div *ngFor="let movie of movies" class="inline">
              <div class="card" style="width: 18rem;" drag-scroll-item (click)="onMoveLeft()">
                <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="card-img-top"
                  alt="Capa do filme">
                <div class="card-footer">
                  <h5 class="card-title text" style="text-align: center;">{{movie.title}}</h5>
                </div>
              </div>
            </div>
          </drag-scroll>
        </div>
        <div *ngIf="flagPopularMovies == false" class="spinner">
            <p-progressSpinner [style]="{width: '100px', height: '100px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
        </div>
      </p-panel>
      <button mat-icon-button class="ui-g-1 button" (click)="onMoveRight()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>
