.content {
  margin: 0 auto;
  margin-top: 9vh;
  margin-bottom: 7vh;
}
.card {
  height: 100%;
}

.card :hover {
  cursor: pointer;
}

.card-img-top {
  height: 28rem;
}

.text-title {
  font-weight: bold;
}

.button {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #212529;
}
.nota {
  margin-top: -10%;
}
