@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.space-right {
  margin-right: .25em !important;
}

.space-left {
  margin-right: 5em !important;
}

.inline {
  display: inline-flex !important;
}
