@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.space-right {
  margin-right: .25em !important;
}

.space-left {
  margin-right: 5em !important;
}

.inline {
  display: inline-flex !important;
}

.center {
  text-align: center;
}

.ui-g {
  width: 100%;
}

.btn-toolbar {
  width: 100%;
}

.input-group {
  width: 100% !important;
}

.ui-panel-content {
  border: none !important;
  background-color: transparent !important;
}

.spinner {
  padding: 10%;
  text-align: center;
}
